.view{
    float: right;
    display: inline;

}

.bookImg img{
    border: 4px solid #888888;
    float: right;
}

.bookDes{
    float: right;
    direction: rtl;
}

.bookTitle{
    font-weight: bold;
    float: right;
}