.view{
    display: inline;
    float: right;
    margin-right: -235px;
}

.bookImg img{
    border: 3px solid #9E9E9E;

}

.bookDes{
    direction: rtl;

}

.bookTitle{
    font-weight: bold;
}

.btn{
    margin-top: 15px;
}