<div class="col-sm-12">
    <div class="container-fluid text-center">
        <div class="col-sm-10 text-center">
            <div class="row" >

                <div  ng-repeat="book in books track by $index" class="col-xs-6 col-md-3">
                    <a ng-href="#/book/{{book.id}}">
                        <div class="thumbnail">
                            <div class="caption">
                                <h5 class="bookTitle">{{book.title}}</h5>
                                <div class="img-ph">
                                    <img src="../img/Covers/{{book.URL_cover}}" alt={{books.URL_cover}} height="220" width="160">
                                </div>
                                <a><button ng-click="addToCart(book.id);" class="btn btn-default" role="button">הוסף לסל</button></a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!--div class="col-sm-2 sidenav">
            <div class="well">
                <p>ADS</p>
            </div>
            <div class="well">
                <p>ADS</p>
            </div>
        </div-->
    </div>
</div>