
<div class="col-sm-12" ng-controller="booksGraphicController">

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">הגרפיקה
                        <strong>בפלטה</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                </div>
                <p class="col-md-6">
                    <p style="direction: rtl" >השלב השני בהוצאה לאור הינו הגרפיקה.</p>
                <p style="direction: rtl"> בתחילה צריך לעמד את כתב היד. העימוד הופך את כתב היד לספר בסיסי.</p>
                <p style="direction: rtl"> לאחר מכן נקרא הספר על ידי הגרפיקאית על מנת להתאים לספר את סגנון העיצוב שהכי מתאים לו.</p>
                <p style="direction: rtl"> תבין ספרי פלטה תוכלו למצוא עיצובים מדהימים,</p>
                <p style="direction: rtl">תמונות, ציורים, שילוב של תמונות וציורים, פונטים מעניינים, ועוד כיד הדמיון הטובה.</p>
                </p >
            </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="box">

                <div class="col-sm-4 text-center">

                        <small></small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="Client/img/graphics.jpg" alt="">

                </div>
                <div class="col-sm-4 text-center">

                        <small></small>
                    </h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <!-- /.container -->
</div>