<div class="col-sm-8 up" ng-controller="buyController" >
    <h4>למימוש הקנייה - אנא מלאו את הפרטים הבאים:</h4>
    <div class=" main-form">
        <div class="row form-group" >
            <div class="col-md-7">
                <input type="text" class="form-control" id="firstName"  ng-model="firstName" name="firstName" placeholder="שם פרטי" required="">
            </div>
        </div>

        <div class="row form-group" >
            <div class="col-md-7">
                <input type="text" class="form-control" id="lastName" ng-model="lastName" name="lastName" placeholder="שם משפחה" required="">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-7">
                <input type="text" class="form-control" ng-model="creditNum" name="creditNum" placeholder="מספר כרטיס אשראי" required="">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-7">
                <input type="text" class="form-control" ng-model="date" name="date" placeholder="תוקף" required="">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-7">
                <input type="text" class="form-control" ng-model="cvv" name="cvv" placeholder="CVV" required="">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-7">
                <input type="text" class="form-control" ng-model="creditNum" name="creditNum" placeholder="כתובת למשלוח" required="">
            </div>
        </div>
        <div class="row form-group" >
            <div class="col-md-7">
                <input type="text" class="form-control" ng-model="phone" name="phone" placeholder="פלאפון" required="">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-2">
                <p><a href="#/verifyShop" class="btn btn-default pull-left" role="button">לסיום רכישה</a></p>
            </div>
        </div>

    </div>



