
<div class="col-sm-12">
    <div class="container-fluid text-center">
        <div class="col-sm-10 text-center">
            <div class="row">

                <div class=" col-md-10">
                    <div class="thumbnail">

                        <div class="caption">
                            <h3>Welcome to your cart</h3>
                            <p></p>
                            <p>אנא סמן את הפרטים שברצונך לרכוש:</p>
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="input-group">
                                         <span class="input-group-addon">
                                             <input type="checkbox" aria-label="your product name">
                                         </span>
                                        <input type="text" class="form-control" aria-label="details">
                                    </div><!-- /input-group -->
                                    <div class="input-group">
                                         <span class="input-group-addon">
                                             <input type="checkbox" aria-label="...">
                                         </span>
                                        <input type="text" class="form-control" aria-label="...">
                                    </div><!-- /input-group -->
                                    <div class="input-group">
                                         <span class="input-group-addon">
                                             <input type="checkbox" aria-label="...">
                                         </span>
                                        <input type="text" class="form-control" aria-label="...">
                                    </div><!-- /input-group -->
                                    <div class="input-group">
                                         <span class="input-group-addon">
                                             <input type="checkbox" aria-label="...">
                                         </span>
                                        <input type="text" class="form-control" aria-label="...">
                                    </div><!-- /input-group -->
                                </div><!-- /.col-lg-6 -->

                            </div><!-- /.row -->
                            <p></p>
                            <p>תודה שקנית Paleta</p>
                            <p><a href="#" class="btn btn-default" role="button">לרכישה</a></p>
                        </div>
                    </div>
                </div>


            </div>
        </div>


        <div class="col-sm-2 sidenav">
            <div class="well">
                <p>ADS</p>
            </div>
            <div class="well">
                <p>ADS</p>
            </div>
        </div>
    </div>
</div>