<div class="col-sm-12">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div ng-repeat="book in books track by $index" class="col-xs-6 col-md-12  section">
                    <div class="thumbnail bord">
                        <img src="../Client/img/Covers/{{book.URL_cover}}" alt="{{book.URL_cover}}">
                        <br/>
                        <a><button ng-click="addSameBookToCart(book.id);" class="btn btn-default" role="button" style="float: right;">+</button></a>
                        <a><button ng-click="reduceSameBook(book.id);" class="btn btn-default" role="button" style="float: right; ">-</button></a>
                    </div>
                    <div class="cop">
                        <h4 style="float: right; padding-top: 3px; padding-right:10px">{{book.title}}</h4>
                        <br/><br/><br/><br/><br/><br/><br/><br/><br/>
                        <div class="bookAmount" style="font-weight: bold; float:right; padding-right: 10px;"> כמות: {{book.amount}}</div>
                        <br/>
                        <p  style="float:right;"><a ng-href="#/Buy" class="btn btn-default" role="button">לקניה</a>
                    </div>
                    <br/><br/><br/><br/>
                    <hr class="col-md-12" style="float: right">

                </div>

                <div class="container-fluid text-center">
                    </br>
                    <p id="emptyCartTitle"></p>
                    </br>
                    <img id="emptyCartPic">
                </div>

                <br/><br/><br/><br/><br/><br/>

            </div>
        </div>
    </div>
</div>
