
<div class="col-lg-12">

    <!-- Navigation -->


    <!-- Page Content -->


        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-left" src="img/home/Blue1.png" />
            <h2 class="featurette-heading">אודות
                <span class="text-muted">פלטה</span></br>
                <span class="text-muted">הוצאה לאור</span>
            </h2>
            <p class="lead" style="direction: rtl">
                פלטה נוסדה בשנת 2006, הוצאה לאור קטנה וייחודית.<br>
                בפלטה לא תמצאו עוד ספרים, כל ספר הינו יצירה ספרותית מיוחדת במינה.<br>
                פלטה שמה דגש על ספרות משובחת ואיכותית, ואינה מוותרת על עיצוב מיוחד בהתאמה דקה לכל ספר וספר לפי אופיו.<br>
                פלטה מעניקה לכל ספר וספר טיפול אישי מיוחד בתשומת לב לכל פרט, משלב עריכת כתב היד ועד ליצירה המוגמרת.<br>
                בפלטה תוכלו למצוא ספרי מבוגרים, נוער, ילדים ופעוטות.<br>
            </p>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-right" src="img/home/Orange1.jpg" aria-valuetext="text here">

            <h2 class="featurette-heading ">ספרי
                <span class="text-muted">פלטה</span></br>
                <span class="text-muted">הוצאה לאור</span>
            </h2>
            <p class="lead">
                <img class="book-image img-responsive pull-right" src="img/home/Book1.jpg" aria-valuetext="text here">
                <img class="book-image img-responsive pull-right" src="img/home/Book2.jpg" aria-valuetext="text here">
                <img class="book-image img-responsive pull-right" src="img/home/Book3.jpg" aria-valuetext="text here">
            </p>

        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="contact">
            <img class="featurette-image img-circle img-responsive pull-left" src="img/home/Green1.jpg">
            <h2 class="featurette-heading">המיוחדים
                <span class="text-muted">של פלטה</span></br>
                <span class="text-muted">הוצאה לאור</span>
            </h2>
            <p class="lead" style="direction: rtl">
				פלטה הוצאה לאור מתמחה גם בהפקת עלוני פרסום ומידע. </br>
				פלטה הפיקה עבור פרויקט "שישי משפחתי" של ארגון נפש יהודי עלון לילדים בשם "שישיקו",</br>
				ובשיתוף עם ארגון "עלי שיח" סדרת גליונות בשם "כמוך" </br>
				שפנו למשפחות שלהן ילדים מיוחדים ואיחדו בתוכם מיזוג נדיר של ידע מקצועי, ותוכן ספרותי עשיר.</br>
		
			</p>

        </div>

        <hr class="featurette-divider">


    </div>
 

