<div class="col-sm-12">
    <div class="container-fluid text-center">
        <div class="col-sm-10 text-center">
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <div class="thumbnail">
                        <div class="img-ph">
                            <img src="img/catalog/abo-yoyo.jpg" alt="abo-yoyo" height="220" width="160">
                        </div>
                        <div class="caption">
                            <h3>שם הציור</h3>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                            <p><center><a href="#" class="btn btn-default" role="button">הוסף לסל</a></center></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 sidenav">
            <div class="well">
                <p>ADS</p>
            </div>
            <div class="well">
                <p>ADS</p>
            </div>
        </div>
    </div>
</div>