<div class="col-sm-12">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div ng-repeat="book in tastingBooks track by $index" class="col-xs-6 col-md-12  section">
                    <div class="thumbnail bord">
                        <img src="../../img/Covers/{{book.URL_cover}}" alt="{{book.URL_cover}}">
                    </div>
                    <div class="cop">
                        <h4 style="float: right; padding-top: 3px; padding-right:10px">{{book.title}}</h4><br/><br/>
                        <h5 style="position:absolute; right:180px; float: right;">קהל היעד: {{book.target}}</h5><br/><br/><br/>
                        <p  style="float: right; padding-top: 10px; padding-right: 25px;" ><a href="#/taste/{{book.id}}" class="btn btn-default" role="button">לטעימה</a></p>
                    </div>
                    <br/><br/><br/><br/><br/><br/>
                    <hr class="col-md-12" style="float: right">
                </div>
            </div>
        </div>
    </div>
</div>