

    <div class="col-sm-3 center" style="margin-left: 430px">
    <form class="form-signin" name="inForm">
        <label for="inputUserName" class="sr-only">שם משתמש</label>
        <input id="inputUserName" ng-model="user.userName" class="form-control" placeholder="שם משתמש" name="userName" required="true" autofocus="" type="name">
        
        </br>
        </br>
         
        <label for="inputPassword" class="sr-only">סיסמא</label>
        <input id="inputPassword" ng-model="user.password" class="form-control" placeholder="סיסמא" name="password" required="true"  type="password">

        <!--<label for="inputConfirmPassword" class="sr-only"> Confirm Password</label>-->
        <!--<input id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" required="" type="password">-->

        <button ng-click="signing(user)" class="btn btn-lg btn-primary btn-block" type="submit">התחבר</button>
        <a href="#/home" class="btn btn-lg btn-primary btn-block" >ביטול</a>
    </form>
</div>


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->



