

<div class="container">
    <div class="col-sm-3 center">
        <form class="form-signup">
            <h2 class="form-signup-heading">Please sign up</h2>
            <label for="inputUserName" class="sr-only">User Name</label>
            <input id="inputUserName" class="form-control" placeholder="User Name" required="" autofocus="" type="name">
            <label for="inputFirstName" class="sr-only">First Name</label>
            <input id="inputFirstName" class="form-control" placeholder="First Name" required="" autofocus="" type="name">
            <label for="inputLastName" class="sr-only">Last Name</label>
            <input id="inputLastName" class="form-control" placeholder="Last Name" required="" autofocus="" type="name">
            <label for="inputEmail" class="sr-only">Email address</label>
            <input id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" type="email">
            <label for="inputPassword" class="sr-only">Password</label>
            <input id="inputPassword" class="form-control" placeholder="Password" required="" type="password">
            <label for="inputConfirmPassword" class="sr-only"> Confirm Password</label>
            <input id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" required="" type="password">
            <div class="checkbox">
                <label>
                    <input value="remember-me" type="checkbox"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
        </form>
    </div>
</div> <!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->



